<header style="background:#fff; border-bottom:1px solid #ccc; padding:10px 20px;">
  <div style="display:flex; align-items:center; gap:20px;">
    <a href="{{ '/' | relative_url }}">
      <img src="{{ '/assets/logo.png' | relative_url }}" alt="Logo" style="height:64px;">
    </a>
    
  <nav style="background: #fff; padding: 12px 24px; border-bottom: 1px solid #ccc;">
  <a href="/" class="nav-link {% if page.url == '/' %}active{% endif %}">Home</a>
  <a href="{{ site.baseurl }}/writings/">Writings</a>
  <a href="{{ site.baseurl }}/projects/">Projects</a>
  <a href="{{ site.baseurl }}/puzzles/">Puzzles</a>
</nav>
</header>
